#userform {
  margin: auto;
  margin-top: 50px;
  width: 30%;
}

body {
  background-image: url("../images/rubegoldberg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-family: Helvetica;
  text-align: center;
  color: #ededed;
  font-size: 10em;
}

input {
  height: 20px;
}

#status {
  color: white;
}


